{% extends 'base.html.twig' %}
{% block title %}Ajouter Produit{% endblock %}
{% block body %}
<br><br><br>
{{ form_start(form)}}
 
     {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success btn-lg btn-block" >Save </button>


{{ form_end(form)}}
{% endblock %}